@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 210 29% 93%;
    --foreground: 210 10% 23%;
    --card: 210 29% 98%;
    --card-foreground: 210 10% 23%;
    --popover: 210 29% 98%;
    --popover-foreground: 210 10% 23%;
    --primary: 207 44% 49%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 29% 88%;
    --secondary-foreground: 210 10% 23%;
    --muted: 210 29% 88%;
    --muted-foreground: 210 10% 45%;
    --accent: 120 27% 65%;
    --accent-foreground: 210 10% 23%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 20% 80%;
    --input: 210 20% 85%;
    --ring: 207 44% 49%;
    --chart-1: 207 44% 49%;
    --chart-2: 120 27% 65%;
    --chart-3: 210 29% 88%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 210 29% 98%;
    --sidebar-foreground: 210 10% 23%;
    --sidebar-primary: 207 44% 49%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 210 29% 90%;
    --sidebar-accent-foreground: 210 10% 15%;
    --sidebar-border: 210 20% 85%;
    --sidebar-ring: 207 44% 49%;
  }
  .dark {
    --background: 210 10% 15%;
    --foreground: 210 40% 98%;
    --card: 210 10% 20%;
    --card-foreground: 210 40% 98%;
    --popover: 210 10% 15%;
    --popover-foreground: 210 40% 98%;
    --primary: 207 44% 60%;
    --primary-foreground: 207 44% 15%;
    --secondary: 210 10% 25%;
    --secondary-foreground: 210 40% 98%;
    --muted: 210 10% 25%;
    --muted-foreground: 210 40% 65%;
    --accent: 120 27% 45%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 10% 30%;
    --input: 210 10% 30%;
    --ring: 207 44% 60%;
    --chart-1: 207 44% 60%;
    --chart-2: 120 27% 45%;
    --chart-3: 210 10% 25%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 210 10% 20%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 207 44% 60%;
    --sidebar-primary-foreground: 207 44% 15%;
    --sidebar-accent: 210 10% 25%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 210 10% 30%;
    --sidebar-ring: 207 44% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
